
Server/.vs/Server/v15/Browse.VC.opendb
Server/.vs/Server/v15/Browse.VC.db
Server/.vs/Server/v15/.suo
Android_Project/.idea/caches/build_file_checksums.ser
Android_Project/.idea/caches/build_file_checksums.ser
Android_Project/.idea/misc.xml
